@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply bg-brand-600 text-white px-4 py-2 rounded-lg hover:bg-brand-500 transition-colors font-medium shadow-sm active:transform active:scale-95;
  }
  .input-field {
    @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand-600 sm:text-sm sm:leading-6 px-3;
  }
}
